<a href="./index.html"><h1>ニャンモナイトとその日暮らし</h1></a>
<br>
<body>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2"
cellspacing="2">
<tbody>
<tr>
<td style="vertical-align: top;"><a href="./suimin/index.html"><h2>睡眠障害で苦しんでいる人</h2></a><br />
</td>
<td style="vertical-align: top;"><a href="./utu/index.html"><h2>鬱で苦しんでいる人</h2></a><br />
</td>
<td style="vertical-align: top;"><a href="./book/index.html"><h2>読書</h2></a><br />
</td>
<td style="vertical-align: top;"><a href="./FreeSoft/index.html"><h2>フリーソフト</h2><br />
</td>
<td style="vertical-align: top;"><a href="./Software/index.html"><h2>Software</h2><br />
</td>
</tr>
</tbody>
</table>

<% @days.each{|day| %>
<h2><span class="title">
<% link = "日記" %>
<a href="./main/index/<%= link = day[:Datetime].strftime("%Y%m%d") %>.html"><%= day[:Title] %></a></span></h2>
<div class="lm"><span class="lm">Last Update: <%= hiduke = day[:Datetime].strftime("%Y-%m-%d %H:%M:%S %A") %></span></div>
<p><%= day[:Log] %></p>
<% } %>

</body>